<h1>Posts</h1>
<%= link_to "New post", "#", class: "btn btn-primary mb-5", data: {bs_toggle: "modal", bs_target: "#newPostModal" } %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render partial: 'posts/modal_form', locals: { post: @post} %>
    </div>
  </div>
</div>
